#board {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  border: 3px solid #333;
  width: 640px;
  height: 640px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
}

.light {
  background-color: #f0d9b5;
}

.dark {
  background-color: #b58863;
}

.dot {
  width: 16px;
  height: 16px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
}
